<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}"
>

<th:block layout:fragment="content">
	<div class="alert alert-primary">This is primary aler2t.</div>
	<!-- Main content -->
<!--	<section class="content"> push 확인-->
<!--		홈2-->

<!--		&lt;!&ndash; 전역 상수 &ndash;&gt;-->
<!--		<div th:text="${T(itor.wellgoods.wmc.config.Globals).HOME}"></div>-->

<!--		&lt;!&ndash; Static Method Call &ndash;&gt;-->
<!--		<div th:text="${T(itor.wellgoods.wmc.config.view.PageConfiguration).test()}"></div>-->

<!--		&lt;!&ndash; Current URL &ndash;&gt;-->
<!--		<div th:text="${#httpServletRequest.getRequestURI()}"></div>-->

<!--	</section>-->
	<!-- /.content -->


</th:block>
</html>

<script>
</script>