<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block th:fragment="sidebarFragment">
    <div id="sidebar" class="active">
      <div class="sidebar-wrapper active">
        <div class="sidebar-header">
          <div class="d-flex justify-content-between">
            <div class="logo">
              <a href="/"><img src="/assets/images/logo/logo.png" alt="Logo" srcset=""></a>
            </div>
            <div class="toggler">
              <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
            </div>
          </div>
          <div class="card">
            <div class="card-body py-2 px-2">
              <div class="row">
                <div class="col-md-6">
                  <div class="ms-3 name">
                    <h5 class="font-bold" th:text="${#authentication.getPrincipal().getAdminId()}"></h5>
                    <h6 class="text-muted mb-0" th:text="|@${#authentication.getPrincipal().getAdminName()}|"></h6>
                  </div>
                </div>
                <div class="col-md-6">
                  <form id="logout" th:action="@{/logout}" method="GET">
                    <button type="submit" class="font-bold btn icon icon-left btn-secondary"><i data-feather="user"></i>로그아웃</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <th:block
                th:with="currentUri=${#httpServletRequest.getRequestURI().toLowerCase()}"
        >
        <div class="sidebar-menu">
          <ul class="menu">
            <li class="sidebar-title">Menu</li>

            <li th:class="${ #httpServletRequest.getRequestURI().toLowerCase().contains('/dashboard/') ? 'sidebar-item active' : 'sidebar-item'}">
              <a href="/dashboard/index" class='sidebar-link'>
                <i class="bi bi-grid-fill"></i>
                <span>Dashboard</span>
              </a>
            </li>


            <li th:class="${ #httpServletRequest.getRequestURI().toLowerCase().contains('/product/') ? 'sidebar-item active has-sub' : 'sidebar-item has-sub'}">
              <a href="#" class='sidebar-link'>
                <i class="bi bi-stack"></i>
                <span>제품 관리</span>
              </a>

              <ul th:class="${ #httpServletRequest.getRequestURI().toLowerCase().contains('/product/') ? 'submenu active' : 'submenu'}">
                <li th:class="${ #httpServletRequest.getRequestURI().toLowerCase().contains('/product/index') ? 'submenu-item active' : 'submenu-item'}">
                  <a href="/product/index">제품 정보 조회</a>
                </li>
                <li th:class="${ #httpServletRequest.getRequestURI().toLowerCase().contains('/product/spec') ? 'submenu-item active' : 'submenu-item'}">
                  <a href="/product/spec">제품 스펙 조회</a>
                </li>
              </ul>
            </li>

          </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </th:block>
      </div>
    </div>


</th:block>
</html>